.carrinhoPage {
  --ion-background-color: #ffc107;
}

.carrinhoPage h1 {
  display: flex;
  margin: 0 25px;
  padding-top: 65px;
  font-size: 24px;
}

.mainCarrinho {
  margin: 0 25px;
  text-align: center;
  font-weight: 500;
}

.imagemCarrinho {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Para garantir que a imagem esteja sem bordas, contornos ou margens internas */
.imagemCarrinho img {
  width: 200px;
  margin-top: 100px;
}

.addCarrinho {
  font-size: 20px;
}

.btnComprar {
  font-size: 16px;
  --background: #155263;
  display: block;
  width: 280px;
  margin: 0 auto;
}

/* ///////////////////////////// */
.cardCarrinho {
  margin: 30px 25px;
}

.cardCarrinho img {
  margin: 1rem 0rem;
}

.linha {
  border: none;
  height: 1px;
  background-color: #000;
  opacity: 30%;
}

.contentCard {
  display: flex;
  justify-content: space-between;
  color: #ffff;
  font-size: 15px;
}

.quantidade {
  display: flex;
  justify-content: space-between;
  background-color: #212529;
  border-radius: 50px;
  width: 35vw;
  margin-top: 2rem;
  height: 2.8rem;
  font-size: 17px;
  font-weight: bolder;
}

.preco{
  margin-left: 16.5rem;
  margin-top: 0rem;
  font-weight: bold;
}

.quantidade img {
  margin: 10px;
}


.subTotal{
  display: flex;
  margin-left: 15.5rem;
  font-weight: bold;
}

.btnEncomendar{
  font-size: 16px;
  --background: #155263;
  display: block;
  width: 220px;
  margin-left: 10rem;
  margin-top: 10rem;
}

.pizza {
  color: #000;
  font-weight: 500;
  text-align: center;
  margin-top: 3rem;
  font-size: 13px;

}
