/* Ajuste a cor de fundo da ion-toolbar */
ion-toolbar {
  --background: #ffc107;
}

.scroll {
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll !important;
}

.carrosel {
  --background: #212529;
  --color: #ffc107;
  --padding-top: 10px;
  --padding-bottom: 10px;
  height: 3rem;
}

ion-img {
  --width: 10px;
  --height: 10px;
}
