ion-toolbar {
  --background: #ffd057;
}

.homepage {
  --background: #ffffff;
}

.scroll {
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  overflow-y: hidden;
}

.carrosel {
  --background: #212529;
  --color: #ffffff;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-img {
  --width: 10px;
  --height: 10px;
}

.comidas {
  --background: white;
}

.pizza {
  margin-top: 2px;
  width: 100%;
}
.body {
  --background: white;
}
