.header {
  background-color: #ffc107;
  color: #000000;
  font-weight: 600;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.setaPerfil #setaPerfil {
  margin-bottom: 9rem;
  color: #000000;
  font-size: 40px;
}

.buttonProfile {
  margin-top: 1.5rem;
  --background: #1d1b20;
  width: 100px;
  height: 40px;
  font-size: 13px;
}

.imagePerfil {
  margin-right: 1.5rem; 
  margin-left: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.nomePerfil{
  font-weight: bold;
}



.encomendas {
  margin: 2rem 0 1rem 1rem;
  font-weight: bold;
}


.cardEncomendas {
  display: flex;
  flex-direction: column; /* Altera a direção do flex para coluna */
  margin: 0 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.quantidades {
  text-align: center;
}

.contentCardEncomendas {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border-width: 2px;
}

.pizzaEncomendas {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 1;
  flex: 1;
  max-width: 100px; /* Define a largura máxima para o nome */
}

.situacaoEncomendas {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  flex: 1;
  max-width: 100px; /* Define a largura máxima para o nome */
}

.linhaEncomendas {
  border: none;
  height: 1px;
  background-color: #000;
  opacity: 30%;
  margin-top: 1rem;
}
.precoEncomendas {
  text-align: center;
  margin: 0;
}

.noPratos {
  margin: 1rem;
}

.footer {
  background-color: #1d1b20;
  color: #fff;
}

.footer-icons {
  padding: 1rem;
}

.icons {
  margin: 0.5rem;
}

.btnTop {
  --background: #212529;
  --color: #ffc107;
  opacity: 50%;
}

.profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
