.header {
  background-color: #ffc107;
  color: #000000;
  font-weight: 600;
  height: 260px;
  padding: 1rem;
}

.rowProfile {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.colImgName {
  flex-direction: column;
  text-align: center;
}

.setaPerfil #setaPerfil {
  position: absolute;
  color: #000000;
  font-size: 40px;
}

.colButton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.buttonProfile {
  --background: #1d1b20;
  width: 100px;
  height: 40px;
  font-size: 13px;
  margin-top: -1rem;
}

.profile-image {
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 3.2rem;
  margin: 3rem 0 0.4rem 0;
}

.nomePerfil {
  font-weight: bold;
  overflow: hidden;
  max-height: 65px;
  margin-top: -0.2rem;
}

.encomendas {
  margin: 2rem 0 1rem 1rem;
  font-weight: bold;
}

.cardEncomendas {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.quantidades {
  text-align: center;
}

.contentCardEncomendas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 2px;
}

.pizzaEncomendas {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 1;
  flex: 1;
  max-width: 100px;
}

.situacaoEncomendas {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  flex: 1;
  max-width: 100px;
}

.linhaEncomendas {
  border: none;
  height: 1px;
  background-color: #000;
  opacity: 30%;
  margin-top: 1rem;
}
.precoEncomendas {
  text-align: center;
  margin: 0;
}

.noPratos {
  margin: 1rem;
}

.footer {
  background-color: #1d1b20;
  color: #fff;
}

.footer-icons {
  padding: 1rem;
}

.icons {
  margin: 0.5rem;
}
