.registerPage {
  --ion-background-color: #ffc107;
}

.input {
  --background: #212529;
  --color: #ffc107;
  margin-top: 3rem;
}

.button-create {
  text-transform: initial;
  font-size: 20px;
  font-weight: bold;
}

.btn-hp {
  height: 7.5rem;
  --background: #155263;
  padding-bottom: 2rem;
  --border-radius: 50px;
  --color: #ffc107;
}

.form {
  margin: 0px 15px;
}
