.image {
  text-align: center;
  margin: -1rem 0rem 4rem;
}

.cardRestaurantes {
  height: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  margin: 0px 25px 3rem 25px;
}

.cardImage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.imagemRestaurante {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.nomeRestaurante {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.nomeRestaurante h2 {
  text-transform: capitalize;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.noPRestaurantes {
  margin: -40px 25px;
}
